extend layout


mixin itempanel(item, index)
   #accordion.panel-group
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='##{ index }')
              =item.name
        div(id=index).panel-collapse.collapse
          .panel-body
            .row-fluid
              .col-md-3
                #tempimage
              .col-md-6
                | Details about item, like rating, reviews
                =item.overall
                form(id='dish'+index+'form', action='/reviewdish', method='post')
                  textarea.form-control(rows='3', placeholder='Add your comment')
                  input.dishsubmit(id='dish'+index, type='submit', value='Post Review')


block topbar
    .row-fluid
        .row-fluid
          .col-md-4
            | {{restaurant image}}
            #tempimage
          .style
            .col-md-8{height:120px;}
          .col-md-8
            h3 #{restaurant.name}
            p #{restaurant.contact.number}
            p #{restaurant.contact.address}
    <br>  
    


    .row-fluid
        .col-md-10
          each val, index in restaurant.menu
            +itempanel(val, index)

block append scripts 
  script(type='text/javascript', src='/js/dishreview.js')
