extend layout


mixin itempanel(item, index)
   #accordion.panel-group
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='##{ index }')
              =item.name
        div.panel-collapse.collapse(id=index, data-attribute='#{item.id}')
          .panel-body
            .row-fluid
              .col-md-3
              .col-md-6
                p 
                  if 1 
                    ul.form.form-group(id='d'+index+'stars', action='/dishstar', method='post')
                      .rating
                        button.empty.star-empty.dishstars(id='d'+index+'1', type='submit')  
                          span ☆  
                        button.empty.star-empty.dishstars(id='d'+index+'2', type='submit')
                          span ☆  
                        button.empty.star-empty.dishstars(id='d'+index+'3', type='submit')
                          span ☆  
                        button.empty.star-empty.dishstars(id='d'+index+'4', type='submit')
                          span ☆  
                        button.empty.star-empty.dishstars(id='d'+index+'5', type='submit')
                          span ☆  
                      if item.reviewcount
                        = 'Average ' + (item.overall/item.reviewcount) + 'stars out of 5'   
                      if allReviewss
                        if allReviews.uDishes.review
                          = 'You rated this dish' + allReview.uDishes.review + 'stars out of 5'
                      if !item.reviewcount
                        | No ratings yet!
                      form.form-group(id=dishreview, action='/dishreview', method='post')    
                        textarea.form-control(rows='3', placeholder='Add your comment')
                        input.dishsubmit(id='dish'+index, type='submit', value='Post Review')                        
                  

                  if 0
                      form.form-group(id=dishreview, action='/dishreview', method='post')    
                        textarea.form-control(rows='3', placeholder='Add your comment')
                        input.dishsubmit(id='dish'+index, type='submit', value='Post Review')
                      button.empty.star-empty.dishstars(id='d'+index+'1')
                      button.empty.star-empty.dishstars(id='d'+index+'2')
                      button.empty.star-empty.dishstars(id='d'+index+'3')
                      button.empty.star-empty.dishstars(id='d'+index+'4')
                      button.empty.star-empty.dishstars(id='d'+index+'5')
                      if item.reviewcount
                        = (item.overall/item.reviewcount) + 'stars out of 5'   
                      if !item.reviewcount
                        | No ratings yet!


                    

block flash
    if flash.error
        each error in flash.error
            .alert.alert-error.alert-dismissable=error
              button.close(type="button", data-dismiss="alert" aria-hidden="true")
                | x
    if flash.info
        each error in flash.info
            .alert.alert-success.alert-dismissable=error
              button.close(type="button", data-dismiss="alert" aria-hidden="true")
                | x

block topbar
    .row-fluid
        .row-fluid
          .col-md-4
            img.img-thumbnail(src='#{restaurant.image}')
          .col-md-8
            h3 #{restaurant.name}
            p #{restaurant.contact.number}
            p #{restaurant.contact.address}


            ul.form.form-group(id='rstars', type='submit', action='/', method='post')
              .rating
                button.empty.star.rstars(id='r1', type='submit')
                  span ☆  
                button.empty.star.rstars(id='r2', type='submit')
                  span ☆  
                button.empty.star.rstars(id='r3', type='submit')
                  span ☆  
                button.empty.star.rstars(id='r4', type='submit')
                  span ☆  
                button.empty.star.rstars(id='r5', type='submit')
                  span ☆  
              if restaurant.reviewcount
                = 'Average ' + (restaurant.rawscore/restaurant.reviewcount) + 'stars out of 5'   
              if !restaurant.reviewcount
                | No reviews yet!         



    .row-fluid
        .col-md-10
          each val, index in restaurant.menu
            +itempanel(val, index)

block append scripts 
  script(type='text/javascript', src='/js/dishreview.js')
