extend layout


mixin itempanel(item, index)
   #accordion.panel-group
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='##{ index }')
              =item.name
        div.panel-collapse.collapse(id=index, data-attribute=#{item.id})
          .panel-body
            .row-fluid
              .col-md-3
              .col-md-6
                p item.overall
                  if !user_reviewed
                    form.form-group(id='d'+index+'stars', action='/dishstar', method='post')
                      button.empty.star-empty.dishstars(id='d'+index+'1', type='submit')
                      button.empty.star-empty.dishstars(id='d'+index+'2', type='submit')
                      button.empty.star-empty.dishstars(id='d'+index+'3', type='submit')
                      button.empty.star-empty.dishstars(id='d'+index+'4', type='submit')
                      button.empty.star-empty.dishstars(id='d'+index+'5', type='submit')
                    = item.VALUE / item.reviewcount + 'stars out of 5' 

                    form.form-group(id=dishreview, action='/dishreview', method='post')    
                      textarea.form-control(rows='3', placeholder='Add your comment')
                      input.dishsubmit(id='dish'+index, type='submit', value='Post Review')
                  if user_reviewed
                    button.empty.star-empty.dishstars(id='d'+index+'1')
                    button.empty.star-empty.dishstars(id='d'+index+'2')
                    button.empty.star-empty.dishstars(id='d'+index+'3')
                    button.empty.star-empty.dishstars(id='d'+index+'4')
                    button.empty.star-empty.dishstars(id='d'+index+'5')
                    = item.VALUE / item.reviewcount + 'stars out of 5'

                    

block flash
    if flash.error
        each error in flash.error
            .alert.alert-error.alert-dismissable=error
              button.close(type="button", data-dismiss="alert" aria-hidden="true")
                | x
    if flash.info
        each error in flash.info
            .alert.alert-success.alert-dismissable=error
              button.close(type="button", data-dismiss="alert" aria-hidden="true")
                | x

block topbar
    .row-fluid
        .row-fluid
          .col-md-4
            img.img-thumbnail(src='#{restaurant.image}')
          .style
            .col-md-8{height:120px;}
          .col-md-8
            h3 #{restaurant.name}
            p #{restaurant.contact.number}
            p #{restaurant.contact.address}


            form.form-group(id='rstars', type='submit', action='/', method='post')
              button.empty.star.rstars(id='r1', type='submit')
              button.empty.star.rstars(id='r2', type='submit')
              button.empty.star.rstars(id='r3', type='submit')
              button.empty.star.rstars(id='r4', type='submit')
              button.empty.star.rstars(id='r5', type='submit')
            = restaurant.RAWSCORE / item.reviewcount + 'stars out of 5'            

    .row-fluid
        .col-md-10
          each val, index in restaurant.menu
            +itempanel(val, index)

block append scripts 
  script(type='text/javascript', src='/js/dishreview.js')
